body{
    background:#ffd9e8;
    font-family: "Poppins", sans-serif;
    color:#3a0b2e;
    margin:0;
}

/* Center forms */
.container{
    max-width: 500px;
    margin: 90px auto;
    background:white;
    padding:35px;
    border-radius:18px;
    box-shadow:0 8px 20px rgba(0,0,0,0.15);
}

/* Inputs */
input,select{
    width:100%;
    padding:12px;
    border-radius:10px;
    border:1px solid #ff9ab4;
    margin:8px 0;
}

/* Buttons */
button{
    background:#ff4d88;
    color:white;
    border:none;
    padding:12px;
    width:100%;
    font-weight:bold;
    border-radius:10px;
}

button:hover{background:#ff1a66;cursor:pointer;}

/* Task card */
.task{
    background:white;
    padding:15px;
    margin:10px 0;
    border-radius:15px;
    box-shadow:0 5px 10px rgba(0,0,0,0.12);
}

/* Priority Colors */
.high{border-left:6px solid red;}
.medium{border-left:6px solid orange;}
.low{border-left:6px solid green;}

/* Links */
a{text-decoration:none;color:#b3005a;font-weight:600;}
a:hover{text-decoration:underline;}
