body.bg{
    background: url("https://images.unsplash.com/photo-1524504388940-b1c1722653e1") center/cover fixed;
    font-family: Arial;
}
.card{
    width:350px;
    margin:120px auto;
    background:rgba(255,255,255,0.15);
    backdrop-filter:blur(12px);
    padding:25px;
    border-radius:12px;
    color:white;
    text-align:center;
}
input,button{
    width:90%;
    padding:10px;
    margin:8px;
    border-radius:8px;
    border:none;
}
button{
    background:#22c55e;
    font-weight:bold;
    color:white;
}
button:hover{ background:#16a34a; }
.error{color:#ff4d4d;font-size:14px;}
a{color:#d4f1ff;}
