<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/style.css">
<script>
window.onload = () => {
  const today = new Date().toISOString().split("T")[0];
  document.getElementById("deadline").setAttribute("min", today);
}
</script>
</head>
<body>

<div class="table-container">
  <h2>Your Tasks</h2>
  <form action="/add" method="POST">
    <input type="text" name="name" placeholder="Task Name" required>
    <input id="deadline" type="date" name="deadline" required>

    <select name="priority" required>
      <option value="High">High 🔴</option>
      <option value="Medium">Medium 🟡</option>
      <option value="Low">Low 🟢</option>
    </select>

    <button>Add Task</button>
  </form>

  <hr>
  {% for t in tasks %}
  <p>📌 {{t.name}} | 📆 {{t.deadline}} | 🔥 {{t.priority}}
    <a href="/edit/{{t.id}}">✏️</a>
    <a href="/delete/{{t.id}}">🗑️</a>
  </p>
  {% endfor %}
  <br><a href="/logout" style="color:#fff;">Logout</a>
</div>

</body>
</html>
